@use 'base/mixins' as m;
@use 'base/variables' as v;

.favoritos{
    background-color: v.$grisClaro;
    padding: v.$separacion 0;

    &__heading{
        text-align: center;
        color: v.$secundario;
    }

    &__grid{
        @include m.tablet
         { 
            @include m.grid(2, 4rem)
        }
    }
}