@use 'base/mixins' as m;
@use 'base/variables' as v;

.tiendas{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading,
    &__texto{
        text-align: center;
    }

    &__heading{
        color: v.$secundario;
        margin: 2rem 0 0 0;
    }

    &__texto{
        margin-bottom: 3rem
    }

    &__grid{
        @include m.grid(2, 2rem);
    }

    &__enlace{
        transition-property: transform;
        transition-duration: 500ms;

        &:hover{
            transform: scale(1.2);
        }
    }
}